/* Styling for the blog preview section */
.blog-preview-section {
    background-color: #f0f0f0;
    padding: 20px 10px;
    font-family: 'Outfit', sans-serif;
}


.blue-transparent-bg{
    background-color: rgba(158, 23, 91, 0.2); /* Green with 20% opacity */
    padding: 10px; /* Optional: to add some padding around the text */
    border-radius: 5px; /* Optional: to round the corners */
}


.blog-preview-section h1 {
    text-align: center;
    font-weight: 700;
    color: #010203;
    margin-bottom: 20px;
}

.blog-post {
    margin-bottom: 40px;
}

.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 60px; /* Add padding to ensure buttons are visible */
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-item {
    flex: 0 0 30%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    margin: 0 5px;
}

.slider-item img, .slider-item video {
    width: 80%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s;
    margin: 0 auto;
}

.slider-item:hover img, .slider-item:hover video {
    transform: scale(1.05);
}

.slider-arrow {
    position: absolute;
    bottom: -1px; /* Position the arrows below the images */
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
    border-radius: 10px; /* Make the arrows a bit rounded */
}

.slider-arrow-left {
    left: 10%;
}

.slider-arrow-right {
    right: 10%;
}

.text-description {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Responsive styling */
@media (max-width: 768px) {
    .slider-item {
        flex: 0 0 100%;
        margin: 0;
    }

    .slider-item img, .slider-item video {
        width: 100%;
    }

    .slider-arrow {
        padding: 10px;
        font-size: 14px;
        bottom: 0px; /* Adjust position for smaller devices */
        border-radius: 50%; /* Make the arrows fully rounded on smaller devices */
    }

    .slider-arrow-left {
        left: 15%;
    }

    .slider-arrow-right {
        right: 15%;
    }
}

h2 {
    font-size: 20px;
}
